
body{background: linear-gradient(
    30deg
    ,#bababe,#77757a);}
h2{
    color: #0510a8;
    
}
header{background: #4aeee677;}
footer{background: #4aeee677;}

.special-header{
    color:aqua;
}

#top{
    background: #cec9c9;
}

nav a{
    color: #125820;
}

a {
    color: #0313eb;
}
.little-header{
    color: #ee0686
}
.my-love-notes{
    background: rgb(226, 170, 133);
}
#newsletter{
    background: grey;
}
#button{
    background: #e68d09;
    border-radius: 10px;
    border: 2px solid #6c3ff3;
    padding-left: 20px;
    width: 130px;
    margin-left: 38%;
}


main{
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.photo{
    float: left;
    margin-right: 20px;
}