html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}




a {
    color: #0313eb;
}

body{background: linear-gradient(
    52deg
    ,#5050e6,#e2e2f7);
}
.main{
    max-width: 1000px;
    margin: 0 auto;
}

 
.footer{
    background: #4aeee677;
    border-radius: 10px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 16px;
    padding-left: 16px;
}   

.footer__link{
    color: #720909
}   

h2{
    color: #0510a8;    
}

a {
    color: #0313eb;
}

#newsletter{
    background: grey;
    border-radius: 10px;
    padding: 16px;
}
#button{
    background: #e68d09;
    border-radius: 10px;
    border: 2px solid #6c3ff3;
    padding-left: 20px;
    width: 130px;
    margin-left: 38%;
}


.about-me{
    padding: 16px;
    background: #d7cee9;
    border-radius: 10px;
}


.about-me__description{
    color: #1f0255;


}
.about-me__heading{
    color:#e68d09;
}

.about-me__photo{
    float: left;
    margin-right: 16px;
    border-radius: 10px;
}

.learn-technique{
    padding: 16px;
    background:#c2bab3;
    border: 1px solid #bbb6b6;
    margin-bottom: 16px;
    border-radius: 10px;
}


.learn-technique__description{
    color: #0761d6;
}


.learn-technique__title{
    color: #880a01;
}


.learn-technique--special{
    border: 3px #026312 solid;
}


.navigation{
    background: #038a1a;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-content: stretch;

}


.navigation__link{
    color: white;
    display: inline-block;
    margin-right: 20px;  
}


.navigation__link--homepage{
    background: yellow;
    color: #000;
    
}

.main__heading{
    color: #0b468a;
}

.main{
    display: grid;
    grid-template-areas: "header header header"
    "article . aside"
    "newsletter . aside"
    "footer footer footer";
    grid-template-columns: 1fr 50px 200px;
    column-gap: 16px;
    row-gap: 16px;
}
.header{
    background: hotpink;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.article{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.aside{
    grid-area: aside;
}

.newsletter{
    grid-area: newsletter;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.footer{
    grid-area: footer;
}